<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
          <a ui-sref="root.home.dashboard">
            <i class="fa fa-tachometer fa-2x margin-right-10 fa-bg-warning" aria-hidden="true"></i>Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li><a ui-sref="root.home.taskEntry"><i class="fa fa-plus fa-2x margin-right-10 fa-bg-warning" aria-hidden="true"></i>Add Task</a></li>
         <li>
           <a ui-sref="root.home.taskUpload">
           <i class="fa fa-upload fa-2x margin-right-10 fa-bg-warning" aria-hidden="true"></i>
           Upload Task</a>
         </li>
        <li>
          <a ui-sref="root.home.viewDefaultProject({feedId:1.0})" class="hr-bottom"><i class="fa fa-folder fa-2x margin-right-10 fa-bg-warning" aria-hidden="true"></i>Default Folder</a>
        </li>
        <li><a ui-sref="root.home.viewJiraTask"><i class="fa fa-search fa-2x margin-right-10 fa-bg-warning" aria-hidden="true"></i>Search From Jira</a></li>
      </ul>
      <ul class="nav nav-sidebar" ng-controller="ProjectController as projectCtrl">
        <li>
          <div class="hr-bottom text-danger"> 
            <h4> <span class="fa fa-tasks margin-right-10" aria-hidden="true"></span>Folders </h4> 
          </div>
        </li>

        <li ng-repeat="project in projectCtrl.allProjects">
          <div>
              <span class="fa fa-circle fa-{{($index < 3)? $index : $index % 3}} margin-right-10" aria-hidden="true"></span>

              <span ng-click="projectCtrl.redirectToRoute(project.name)" class="text-info cursor-pointer">
              
                  {{project.name.length > 3 ? project.name.substr(0,4).concat('..') : project.name}} 
              </span>
              
              <span class="badge badge-info margin-left-10"> {{project.taskCount}} </span>

           <!--  <i class="fa fa-comment pull-right margin-top-4" aria-hidden="true" ng-click="projectCtrl.open($index)"> </i>
           <i class="fa fa-trash pull-right margin-top-4 project-del" aria-hidden="true" data-toggle="confirmation" 
           data-title="Ary you sure?" ng-click="projectCtrl.deleteProject($index)"> </i> -->

            <span class="dropdown">
              <span class="dropdown-toggle  dropdown-menu-pos fa fa-pencil-square-o cursor-pointer" id="menu1" data-toggle="dropdown"> </span>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="projectCtrl.open($index)">Add Description
                      <i class="fa fa-comment pull-right margin-top-4" aria-hidden="true"> </i>
                    </a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="projectCtrl.deleteProject($index)">Delete
                      <i class="fa fa-trash pull-right margin-top-4 project-del" aria-hidden="true" data-toggle="confirmation" 
                      data-title="Ary you sure?"> </i>
                    </a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="">Share
                      <i class="fa fa-share-alt pull-right margin-top-4" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li role="presentation" class="divider">
                    
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="projectCtrl.openAboutView($index)">About
                       <i class="fa fa-info-circle pull-right margin-top-4" aria-hidden="true"> </i>
                    </a>
                  </li>
              </ul>
            </span>

          </div>
        </li>
        
        <li>
          <div>
          <input type="text" placeholder="Enter Project Name" ng-if="projectCtrl.enableAddProj" ng-model="projectCtrl.project.name" ng-keypress="projectCtrl.handleSubmit($event)"> 
          <span class="btn btn-sm btn-warning margin-top-6" ng-if="projectCtrl.enableAddProj" ng-click="projectCtrl.resetProject()"> Cancel </span>
          </div>
        </li>

        <li ng-click="projectCtrl.enableAddProj = true"> 
          <div class="text-danger cursor-pointer"> <i class="fa fa-plus fa-2x fa-bg-warning margin-right-10" aria-hidden="true"></i>
              <span style="position:relative"> Add Folder </span>
          </div>
        </li>

      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div ui-view="detailContent"> </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  $(document).ready(function() {
    //$('[data-toggle="confirmation"]').confirmation({ btnOkLabel: "Yes", btnCancelLabel: "No" });
  });
 

</script>